

<footer>
    <div class="contenedor-footer">
        <div class="contenedor-footer__content">
            <h4>Teléfono</h4>
            <p>3042258679</p>
        </div>
        <div class="contenedor-footer__content">
            <h4>Correo Electrónico</h4>
            <p>wilson_evs@hotmail.com</p>
        </div>
        <div class="contenedor-footer__content">
            <h4>Localización</h4>
            <p>Calle 22 #54-23</p>
        </div>
    </div>
    <h2 class="contenedor-footer-titulo-final">&copy;Full Stack | Wilson Valencia</h2>
</footer>

<script src="src/js/main.js"></script>
</body>
</html>