<%- include("../includes/head.ejs") %>
    <%- include("../includes/header.ejs") %>

        <main>

            <!-- Inicio Sobre Nosotros -->
            <section class="contenedor">
                <h2 class="titulo">Nuestro productos</h2>
                <div class="sobre-nosotros">
                    <img class="sobre-nosotros__img" src="src/utils/img/ilustracion1.svg" alt="">
                    <div class="sobre-nosotros__textos">
                        <h3><span>1</span>Los mejores productos</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi repellendus molestias enim
                            quis natus? Nam, voluptatem? Modi est aliquid doloribus accusantium et sapiente, totam
                            fugiat pariatur veniam architecto magnam obcaecati.</p>
                        <h3><span>2</span>Los mejores precios</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus hic nostrum expedita,
                            quisquam officia veniam dolorum nemo, fugiat vitae aliquam nam eum accusantium assumenda
                            iste consequuntur excepturi eius mollitia adipisci.</p>
                    </div>
                </div>
            </section>
            <!-- Fin Sobre Nosotros -->

            <!-- Inicio Portafolio -->
            <section class="contenedor">
                <h2 class="titulo">Portafolio</h2>
                <div class="galeria">
                    <!-- 1 -->
                    <div class="galeria__imagen-port">
                        <img src="src/utils/img/img1.jpg" alt="">
                        <div class="galeria__hover">
                            <img src="src\utils\icons\icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="galeria__imagen-port">
                        <img src="src/utils/img/img2.jpg" alt="">
                        <div class="galeria__hover">
                            <img src="src\utils\icons\icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="galeria__imagen-port">
                        <img src="src/utils/img/img3.jpg" alt="">
                        <div class="galeria__hover">
                            <img src="src\utils\icons\icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="galeria__imagen-port">
                        <img src="src/utils/img/img4.jpg" alt="">
                        <div class="galeria__hover">
                            <img src="src\utils\icons\icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <!-- 5 -->
                    <div class="galeria__imagen-port">
                        <img src="src/utils/img/img5.jpg" alt="">
                        <div class="galeria__hover">
                            <img src="src\utils\icons\icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <!-- 6 -->
                    <div class="galeria__imagen-port">
                        <img src="src/utils/img/img6.jpg" alt="">
                        <div class="galeria__hover">
                            <img src="src\utils\icons\icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <!-- 7 -->
                    <div class="galeria__imagen-port">
                        <img src="src/utils/img/img7.jpg" alt="">
                        <div class="galeria__hover">
                            <img src="src\utils\icons\icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <!-- 8 -->
                    <div class="galeria__imagen-port">
                        <img src="src/utils/img/img8.jpg" alt="">
                        <div class="galeria__hover">
                            <img src="src\utils\icons\icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Fin Portafolio -->


            <!-- Inicio Clientes -->

            <section class="contenedor">
                <h2 class="titulo">Que dicen nuestros clientes</h2>
                <div class="clientes__cards">
                    <!-- 1 -->
                    <div class="clientes__card">
                        <img class="clientes__img" src="src/utils/icons/face1.jpg" alt="">
                        <div class="clientes__text">
                            <h4>Wilson</h4>
                            <p>¡Nos encontramos satisfecho con la aplicación Eco pedia que realizarón para nosotros, un trabajo excelente!.</p>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="clientes__card">
                        <img class="clientes__img" src="src/utils/icons/face2.jpg" alt="">
                        <div class="clientes__text">
                            <h4>Liz</h4>
                            <p>¡Nos encontramos satisfecho con la aplicación Eco pedia que realizarón para nosotros, un trabajo excelente!.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Fin Clientes -->

            <!-- Inicio About Servicios -->
            <section class="about-servicios">
                <div class="contenedor-servicios">
                    <h2 class="titulo">Nuestros servicios</h2>
                    <div class="about-services__completo">
                        <div class="about-services__individual">
                            <img class="about-services-img" src="src/utils/img/ilustracion2.svg" alt="">
                            <h3>Diseño Páginas</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, velit!</p>
                        </div>
                        <div class="about-services__individual">
                            <img class="about-services-img" src="src/utils/img/ilustracion3.svg" alt="">
                            <h3>Aplicaciones Móviles</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, velit!</p>
                        </div>
                        <div class="about-services__individual">
                            <img class="about-services-img" src="src/utils/img/ilustracion4.svg" alt="">
                            <h3>Mercadeo</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, velit!</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Fin About Servicios -->

        </main>

        <%- include("../includes/footer.ejs") %>